.Tech-Stack-slider {
  overflow: hidden;
  width: 100vw;
}

.Tech-Stack-slider-track {
  display: flex;
  animation: autoScroll 50s linear infinite;
}

.Tech-Stack-slider-track:hover {
  animation-play-state: paused;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-160px * 22));
  }
}
