/* === Multiple === */

.App-Header-inner-left-logo,
.App-Header-inner-right-icon {
  height: 8vh;
  max-height: 66px;
}

/* === App-Header === */

.App-Header {
  flex: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.App-Header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* === App-Header-AppHeaderInnerLeft() === */
/* Multiple -> .App-Header-inner-left-logo */

/* App-Header-AppHeaderInnerRight() */

.App-Header-inner-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* === App-Header-AppHeaderInnerRight()-displayIcons() === */

/* Multiple -> .App-Header-inner-right-icon */
.App-Header-inner-right-icon {
  margin: 0px 5px;
}
