.Footer {
  flex: none;
  margin-top: 1.5rem;
  box-sizing: border-box;
  background-color: rgb(0, 119, 183);
  /* used to pin footer to the bottom */
  flex-shrink: 0;
}

.Footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Footer-marginSpacing {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Footer-textLinks {
  color: white;
}
