.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: pointer;
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  color: white;
}